<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>blackstarWeb</display-name>
  <context-param>
    <param-name>LoggLevel</param-name>
    <param-value>ERROR</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet>
    <display-name>EquipmentCollectionByCustomer</display-name>
    <servlet-name>EquipmentCollectionByCustomer</servlet-name>
    <servlet-class>com.blackstar.web.EquipmentCollectionByCustomer</servlet-class>
  </servlet>
  <servlet>
    <display-name>ordenesServicio</display-name>
    <servlet-name>OrdenesServicio</servlet-name>
    <servlet-class>com.blackstar.web.OrdenesServicio</servlet-class>
  </servlet>
  <servlet>
    <display-name>Tickets</display-name>
    <servlet-name>Tickets</servlet-name>
    <servlet-class>com.blackstar.web.Tickets</servlet-class>
  </servlet>
  <servlet>
    <display-name>osDetail</display-name>
    <servlet-name>osDetail</servlet-name>
    <servlet-class>com.blackstar.web.osDetail</servlet-class>
  </servlet>
  <servlet>
    <display-name>TicketDetail</display-name>
    <servlet-name>TicketDetail</servlet-name>
    <servlet-class>com.blackstar.web.TicketDetail</servlet-class>
  </servlet>
  <servlet>
    <display-name>dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>com.blackstar.web.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipmentCollectionByCustomer</servlet-name>
    <url-pattern>/equipmentCollectionByCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdenesServicio</servlet-name>
    <url-pattern>/ordenesServicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tickets</servlet-name>
    <url-pattern>/tickets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>osDetail</servlet-name>
    <url-pattern>/osDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketDetail</servlet-name>
    <url-pattern>/ticketDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dbtest</display-name>
    <servlet-name>dbtest</servlet-name>
    <servlet-class>com.blackstar.web.dbtest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbtest</servlet-name>
    <url-pattern>/dbtest</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.blackstar.web.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/UserFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>diagnostics</display-name>
    <servlet-name>diagnostics</servlet-name>
    <servlet-class>com.blackstar.web.diagnostics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diagnostics</servlet-name>
    <url-pattern>/diagnostics</url-pattern>
  </servlet-mapping>
</web-app>