<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>blackstarWeb</display-name>
 <context-param>
  <param-name>LoggLevel</param-name>
  <param-value>ERROR</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 <servlet>
  <display-name>EquipmentCollectionByCustomer</display-name>
  <servlet-name>EquipmentCollectionByCustomer</servlet-name>
  <servlet-class>com.blackstar.web.EquipmentCollectionByCustomer</servlet-class>
 </servlet>
 <servlet>
  <display-name>ordenesServicio</display-name>
  <servlet-name>OrdenesServicio</servlet-name>
  <servlet-class>com.blackstar.web.OrdenesServicio</servlet-class>
 </servlet>
 <servlet>
  <display-name>Tickets</display-name>
  <servlet-name>Tickets</servlet-name>
  <servlet-class>com.blackstar.web.Tickets</servlet-class>
 </servlet>
  <servlet>
  <display-name>osDetail</display-name>
  <servlet-name>osDetail</servlet-name>
  <servlet-class>com.blackstar.web.osDetail</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>EquipmentCollectionByCustomer</servlet-name>
  <url-pattern>/equipmentCollectionByCustomer</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OrdenesServicio</servlet-name>
  <url-pattern>/ordenesServicio</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Tickets</servlet-name>
  <url-pattern>/tickets</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>osDetail</servlet-name>
  <url-pattern>/osDetail</url-pattern>
 </servlet-mapping>
</web-app>
