<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>blackstarWeb</display-name>
  <context-param>
    <param-name>LoggLevel</param-name>
    <param-value>DEBUG</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>

  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>BlackStarWeb</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
         <param-value>
                /WEB-INF/ctx/dao-context.xml
                /WEB-INF/ctx/service-context.xml
                /WEB-INF/ctx/web-context.xml
        </param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-name>EquipmentCollectionByCustomer</display-name>
    <servlet-name>EquipmentCollectionByCustomer</servlet-name>
    <servlet-class>com.blackstar.web.EquipmentCollectionByCustomer</servlet-class>
  </servlet>
  <servlet>
    <display-name>ordenesServicio</display-name>
    <servlet-name>OrdenesServicio</servlet-name>
    <servlet-class>com.blackstar.web.OrdenesServicio</servlet-class>
  </servlet>
  <servlet>
    <display-name>Tickets</display-name>
    <servlet-name>Tickets</servlet-name>
    <servlet-class>com.blackstar.web.Tickets</servlet-class>
  </servlet>
  <servlet>
    <display-name>osDetail</display-name>
    <servlet-name>osDetail</servlet-name>
    <servlet-class>com.blackstar.web.osDetail</servlet-class>
  </servlet>
  <servlet>
    <display-name>TicketDetail</display-name>
    <servlet-name>TicketDetail</servlet-name>
    <servlet-class>com.blackstar.web.TicketDetail</servlet-class>
  </servlet>
  <servlet>
    <display-name>dbtest</display-name>
    <servlet-name>dbtest</servlet-name>
    <servlet-class>com.blackstar.web.dbtest</servlet-class>
  </servlet>
  <servlet>
    <display-name>diagnostics</display-name>
    <servlet-name>diagnostics</servlet-name>
    <servlet-class>com.blackstar.web.diagnostics</servlet-class>
  </servlet>
  <servlet>
    <display-name>FollowUp</display-name>
    <servlet-name>FollowUp</servlet-name>
    <servlet-class>com.blackstar.web.FollowUp</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>BlackStarWeb</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EquipmentCollectionByCustomer</servlet-name>
    <url-pattern>/equipmentCollectionByCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdenesServicio</servlet-name>
    <url-pattern>/ordenesServicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tickets</servlet-name>
    <url-pattern>/tickets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>osDetail</servlet-name>
    <url-pattern>/osDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketDetail</servlet-name>
    <url-pattern>/ticketDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dbtest</servlet-name>
    <url-pattern>/dbtest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>diagnostics</servlet-name>
    <url-pattern>/diagnostics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FollowUp</servlet-name>
    <url-pattern>/seguimiento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.blackstar.web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/offlineOS/save.do</url-pattern>
    </web-resource-collection>
  </security-constraint>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>cron</web-resource-name>
        <url-pattern>/bloom/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
</security-constraint>

  <servlet>
    <description></description>
    <display-name>EquipmentService</display-name>
    <servlet-name>EquipmentService</servlet-name>
    <servlet-class>com.blackstar.web.EquipmentService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipmentService</servlet-name>
    <url-pattern>/equipmentService</url-pattern>
  </servlet-mapping>
</web-app>